@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  transition: 0.3s ease all;
  -webkit-transform: 0.3s ease all;
  -moz-transform: 0.3s ease all;
  -ms-transform: 0.3s ease all;
  -o-transform: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  border: 8px solid #0000;
  border-radius: 50%;
  border-right-color: #ffc639;
  animation: s5 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: 4px;
  border: inherit;
  border-radius: 50%;
  animation: s5 2s infinite;
}
.custom-loader::after {
  margin: 16px;
  animation-duration: 3s;
}

@keyframes s5 {
  100% {
    transform: rotate(1turn);
  }
}
